@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    background-color: #002855;
    color: white;
}

header {
    background-color: #023e7d;
    height: 85px;
    text-align: center;
    line-height: 85px;
    font-size: 1.8em;
}

footer {
    position: absolute;
    bottom: 0px;
    background-color: #001845;
    height: 85px;
    width: 100vw;
    text-align: center;
    line-height: 85px;
    color: rgb(95, 123, 160);
    font-size: 1.3em;
}

.card {
    border-radius: 8px;
    background-color: #123c6d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.35);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vh;
    height: 70vh;
}

.card > p {
    text-align: center;
}

.card > form {
    padding: 15px;
}

.card > form > input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 98.5%;
    height: 35px;
    background-color: lightsteelblue;
    outline: none;
    border: none;
}

.card > form > input:hover {
    outline: none;
}

#imperialB,
#metricB {
    display: unset;
    width: 20px;
    height: 20px;
    margin: 0px;
}

#imperial,
#metric {
    margin-right: 10px;
}

#metricB {
    margin-right: 50px;
}

@media (max-width: 600px) {
    .card {
        width: 320px;
        height: 530px;
    }
}
