@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    background-color: #002855;
    color: white;
}

header {
    background-color: #023e7d;
    height: 85px;
    text-align: center;
    line-height: 85px;
    font-size: 1.8em;
}

footer {
    position: absolute;
    bottom: 0px;
    background-color: #001845;
    height: 85px;
    width: 100vw;
    text-align: center;
    line-height: 85px;
    color: rgb(95, 123, 160);
    font-size: 1.3em;
}

.card {
    border-radius: 8px;
    background-color: #123c6d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.35);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vh;
    height: 70vh;
}

.card > p {
    text-align: center;
}

.card > form {
    padding: 15px;
}

#diet,
.card > form > input {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 98.5%;
    height: 35px;
    background-color: lightsteelblue;
    outline: none;
    border: none;
}

.card > form > input:hover {
    outline: none;
}

#containerUnits {
    border: 1px solid #00072d;
    padding-top: 10px;
    padding-left: 10px;
    height: 35px;
    margin-bottom: 10px;
    display: flex;
}

#compareButton {
    position: absolute;
    text-align: center;
    border: 1px solid white;
    width: 150px;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    transition: 0.3s;
    bottom: 20px;
    left: calc(50% - 75px);
}

#compareButton:hover {
    bottom: 30px;
    color: black;
    background-color: white;
    cursor: pointer;
    box-shadow: 0 15px 2px -2px #00244b;
}

@media (max-width: 600px) {
    .card {
        width: 320px;
        height: 580px;
    }
}
